.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px;
}

.postWrapper {
  flex: 3;
  border-right: 1px solid #eeeeee;
}

.commentsWrapper {
  flex: 1;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border: 1px solid #cccccc;
  margin: 15px 0;
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}
